{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Data source</div>
                    <table class="table">
                        <tr>
                            <th>Address</th>
                            <th>Name</th>
                            <th>Sensor</th>
                            <th>Datetime Interval</th>
                            <th>Fee</th>
                        </tr>
                        <tr>
                            <td>{{ data_source.address }}</td>
                            <td>{{ data_source.name }}</td>
                            <td>{{ data_source.sensor }}</td>
                            <td>{{ data_source.interval }}</td>
                            <td>{{ data_source.fee }}</td>
                        </tr>
                    </table>
                </div>
            </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% for field in form_data %}
                <div class="fieldWrapper">
                    {{ field.errors }}
{#                    {{ field.label_tag }} {{ field }}#}
                </div>
            {% endfor %}
            {% crispy form_data %}
        </div>
    </div>
{% endblock %}