{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Data sources</div>
        <!-- Table -->
        <table class="table">
            <tr>
                <th>Address</th>
                <th>Name</th>
                <th>Sensor</th>
                <th>Datetime Interval</th>
                <th>Fee</th>
                <th>-</th>
            </tr>
            {% for data_source in data_sources %}
                <tr>
                    <td>{{ data_source.address }}</td>
                    <td>{{ data_source.name }}</td>
                    <td>{{ data_source.sensor }}</td>
                    <td>{{ data_source.interval }}</td>
                    <td>{{ data_source.fee }}</td>
                    <td><button type="button" class="btn btn-default"><a href="/buy/{{ data_source.pk }}">Buy</a></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
